@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #000000;
    font-family: 'Mansalva', cursive;
}

header{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

header h1{
    margin: 0;
    padding: 0;
    font-size: 90px;
    text-align: center;
    color:#c4c4c4;
   
}
header div {
    background: #151515;
    padding: 20px;
    max-width: 500px;
    cursor: pointer;
    transition: 0.5s;
}

header div:hover{
    transform: scale(1.1);
    box-shadow: 40px 40px 0px -30px #3a3a3a,
    35px 0px 0px -20px #252525,
    0px 25px 0 -10px #646464;
}

header div img{
    width: 100%;
}

footer{
    color: #c4c4c4;
    font-size: 20px;
    padding: 20px;
}
